<nav class="bottom-nav">
  <a routerLink="/dashboard" routerLinkActive="active" class="bottom-nav__item">
    <span class="material-icons-outlined">home</span>
    <span class="bottom-nav__label">Dashboard</span>
  </a>
  <a class="bottom-nav__item disabled">
    <span class="material-icons-outlined">receipt_long</span>
    <span class="bottom-nav__label">Ledger</span>
  </a>
  <div class="bottom-nav__fab-wrapper">
    <a routerLink="/subscriptions/new" class="bottom-nav__fab">
      <span class="material-icons-outlined">add</span>
    </a>
  </div>
  <a class="bottom-nav__item disabled">
    <span class="material-icons-outlined">bar_chart</span>
    <span class="bottom-nav__label">Trends</span>
  </a>
  <a class="bottom-nav__item disabled">
    <span class="material-icons-outlined">person</span>
    <span class="bottom-nav__label">Cuenta</span>
  </a>
</nav>
