<nav class="bottom-nav">
  <a routerLink="/dashboard" routerLinkActive="active" class="bottom-nav__item">
    <span class="material-icons-outlined">home</span>
    <span class="bottom-nav__label">Dashboard</span>
  </a>
  <div class="bottom-nav__fab-wrapper">
    <a routerLink="/subscriptions/new" class="bottom-nav__fab">
      <span class="material-icons-outlined">add</span>
    </a>
  </div>
  <a routerLink="/subscriptions" routerLinkActive="active" class="bottom-nav__item">
    <span class="material-icons-outlined">receipt_long</span>
    <span class="bottom-nav__label">Suscripciones</span>
  </a>
</nav>
